.game{
    width: 1400px;
    margin: 0 auto;
}

.body {
    position: relative;
    background-color:black;
}

.body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./images0092.jpg);
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.2;
}

.game__title{
    margin: 20px 0;
    font-size: 36px;
    color:white;
    text-align: center;
}

.game__row{
   display: flex;
   justify-content:center;
   flex-wrap: wrap;
}
.game__content{
    width: 25%;
    margin:10px;
    border: 1px solid;
    padding: 10px;
    color:#333;
    flex-wrap: wrap;
}
.game__content > img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.game__column{
    padding: 10px 0;
    margin-top:10px;
    color:white;
    font-size: 14px;
    border:#fff;
    display: flex;
    justify-content:space-around;
}

.game__column__avatar > img{
    width:40px;
    height: 40px;
    border-radius:40px;
}

.game__column__text{
    margin-left:10px;
}