/* 全域設定 */

.container {
    margin: 0 auto;
    max-width:1000px;
}

.content {
    margin: 0 auto;
    width: 75%;
}

@media screen and (max-width:1120px) {
    .clap {
        display: none;
    }
}

.clap {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid#000;
    top:105px;
    left:45px;
}

.clap-num {
    position: absolute;
    top:10px;
    left:17px;
}
.thumb-up {
    position: absolute;
    top:28px;
    left:22px;
}

.title {
    font-size: 40px;
    padding:20px 0;
}

p {
    font-size: 20px;
    line-height: 1.5rem;
    white-space: pre-line;
}

span {
    display: inline;
}
